
<footer class="footer">
    <div class="container">
        <div class="inner-top">
            <div class="inner-content">Sign up now to not miss our special offer</div>
            <div class="inner-form">
                <form action="">
                    <input type="email" placeholder="Enter your email..." name="email">
                    <button>Sign up now</button>
                </form>
            </div>
        </div>
        <div class="inner-middle">
            <div class="inner-menu">
                <a href="#">Home</a>
                <a href="#">Product</a>
                <a href="#">introduction</a>
                <a href="#">Contact</a>
            </div>
            <div class="inner-socials">
                <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
        <div class="inner-bottom">
            <div class="inner-copyright">© 2024 Undertanker. All rights reserved.</div>
            <div class="inner-logo"><img src="/css/images/BETA_1.png" alt="Logo Footer"></div>
            <div class="inner-menu">
                <a href="#">Terms of Service</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
