extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-item.pug
include ../../mixins/section-3.pug
include ../../mixins/item-product.pug
include ../../mixins/box-pagination.pug
block main


  //- div(class="breadcrumb")
  //-     div(class="container")
  //-         div(class="breadcrumb__wrap")
  //-             a(href="#" class="breadcrumb__link") Trang chủ
  //-             a(href="#" class="breadcrumb__link") Chó
  //-             a(href="#" class="breadcrumb__link") Chó nhỏ



  +section-3()
  .card.mb-3
    <div class="section-3">
        div(class="container")
          .card-header Sort
          .card-body
              .row
                  .col-4
                      select(class="form-control" sort-select)
                          option(value="position-desc") Decrease position
                          option(value="position-asc") Increase position
                          option(value="price-desc") Decrease price
                          option(value="price-asc") Increase price
                          option(value="title-desc") Title from Z to A
                          option(value="title-asc") Title from A to Z
  div(class="layout-product")
      div(class="container")
          div(class="layout-product__wrap")
              div(class="layout-product__left")
                  div(class="filters")
                      div(class="filters__title")
                          img(src="/css/images/icon-filter.svg", alt="filters-icon")
                          span Filter
                      div(class="filters__list")
                          div(class="filters__item")
                              div(class="filters__item-title") Color
                              div(class="filters__item-box")
                                  div(class="filters__item-choice")
                                      input(type="checkbox" name="sex" value="male" id="male")
                                      label(for="male") Red

                                  div(class="filters__item-choice")
                                      input(type="checkbox" name="sex" value="female" id="female")
                                      label(for="female") Blue
                          
                          div(class="filters__item")
                              div(class="filters__item-title") Capacity
                              div(class="filters__item-box")
                                  div(class="filters__item-choice")
                                      input(type="checkbox" name="color" value="gray" id="gray")
                                      label(for="gray") 128GB

                                  div(class="filters__item-choice")
                                      input(type="checkbox" name="color" value="black" id="black")
                                      label(for="black") 256GB

                                  div(class="filters__item-choice")
                                      input(type="checkbox" name="color" value="white" id="white")
                                      label(for="white") 512GB

                          div(class="filters__item")
                              div(class="filters__item-title") Repayment
                              div(class="filters__item-box")
                                  div(class="filters__item-choice")
                                      input(type="checkbox" name="size" value="small" id="small")
                                      label(for="small") 14 months

                                  div(class="filters__item-choice")
                                      input(type="checkbox" name="size" value="medium" id="medium")
                                      label(for="medium") 28 months

                                  div(class="filters__item-choice")
                                      input(type="checkbox" name="size" value="big" id="big")
                                      label(for="big") 36 months
                          
                                      
              div(class="layout-product__right")
                  div(class="section-5")
                      div(class="section-5__head")
                          div(class="section-5__title") 
                                | #{category}
                          button(class="section-5__button-filter")
                              img(src="assets/images/icon-filter.svg", alt="filters-icon")
                              span Filter
                      div(class="section-5__wrap")
                          each item in products
                              +product-item(item, "product-item--three"
                              )
                  //- +box-pagination([currentPage, totalPage])
                  .pagination 
                      ul.pagination__list
                          li.pagination__item 
                              a(href="#" class="pagination__link") 
                                  i(class="fa-solid fa-arrow-left")
                          li.pagination__item 
                              a(href="#" class="pagination__link pagination__link--active") 1
                          li.pagination__item 
                              a(href="#" class="pagination__link") 2
                          li.pagination__item 
                              a(href="#" class="pagination__link") 3
                          li.pagination__item 
                              a(href="#" class="pagination__link") 4
                          //- li.pagination__item 
                          //-     a(href="#" class="pagination__link") ...
                          //- li.pagination__item 
                          //-     a(href="#" class="pagination__link") 28
                          li.pagination__item 
                              a(href="#" class="pagination__link") 
                                  i(class="fa-solid fa-arrow-right")
          




      
  //- .container.my-3
  //-   +box-head(pageTitle)

  //-   .row
  //-     each item in products
  //-       +product-item(item)