mixin section-3()
    div(class="section-3")
        div(class="container")
            div(class="section-3__wrap")
                div(class="section-3__image")
                    //- img(src="/css/images/pngtree-iphone-14-vector-illustrations-vectors-png-image_12489599.png" alt="human-dog")
                div( class="section-3__content")
                    h2(class="section-3__title") 10% Off When Buying Deal
                    h3(class="section-3__sub-title") Double OnlyiPhone14
                    p(class="section-3__desc") Add 2 OnlyiPhone 14 packages to your cart when checking out and you will automatically receive 10% deduction.

                    //- div(class="section-3__buttons")
                    //-     a(href="#" class="button button--outline") 
                    //-         | Giới Thiệu 
                    //-         i(class="fa-regular fa-circle-play")
                    //-     a(href="#" class="button") Khám Phá Ngay
    