mixin section-3()
    div(class="section-3")
        div(class="container")
            div(class="section-3__wrap")
                div(class="section-3__image")
                    img(src="assets/images/section-3-image-1.png" alt="human-dog")
                div( class="section-3__content")
                    h2(class="section-3__title") Thêm Một Bạn
                    h3(class="section-3__sub-title") Thêm Ngàn Niềm Vui!
                    p(class="section-3__desc") Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 900 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                    div(class="section-3__buttons")
                        a(href="#" class="button button--outline") 
                            | Giới Thiệu 
                            i(class="fa-regular fa-circle-play")
                        a(href="#" class="button") Khám Phá Ngay
    